.overview-content {
  display: flex;
  padding-top: 3rem;
  gap: 2rem;
}

.overview-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (max-width: 1050px) {
  .overview-content {
    flex-direction: column;
  }
}
