.dashboard-content-row {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.dashboard-content-column {
  padding: 0rem 4rem;
  padding-bottom: 2rem;
  position: relative;
  transition: 0.5s ease;
  height: 100%;
  flex: 1;
}

.overflow {
  overflow: auto; /*implemented trick to prevent ugly UI clash between blurred modalBG and if user scroll beyond */
}

@media screen and (max-width: 1050px) {
  .dashboard-content-column {
    padding-bottom: 10.5rem;
  }
}

@media screen and (max-width: 650px) {
  .dashboard-content-column {
    padding: 0rem 1.6rem;
    padding-bottom: 10.5rem;
  }
}
