.recurring-transaction-item {
  display: flex;
  align-items: center;
  padding: 1.2rem 0;
  margin: 2rem 0;
  /* border: 2px solid red; */
}

.due-soon-caption {
  position: absolute;
  right: -4rem;
  top: 0.25rem;
}
