@keyframes shrinkToLeftAndClear {
  /* Illustration Column(Login.jsx) */
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(0);
    display: none;
  }
}

@keyframes scaleFromLeft {
  100% {
    transform: scaleX(1);
  }
}

@keyframes clearblur {
  100% {
    filter: blur(0px);
  }
}

@keyframes bounceup {
  100% {
    transform: scaleY(1);
  }
}

@keyframes scale_el {
  100% {
    transform: scale(1);
  }
}
